.top_nav {
    padding: 2%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: #268CFF;
}

.top_nav_title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: basline;
    margin: 0;
}

/* .top_nav_title h1 {
    display: inline;
} */

.top_nav_burger {
    cursor: pointer;
    padding: 3px;
    border-radius: 5px;
}
.top_nav_burger:hover {
    background-color: rgba(255, 255, 255, .7);
}

/* See index.css for generic link rules */
.top_nav_links {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    color: #0A0908;
    margin-left: 0;
}

.top_nav_item {
    display: inline-block;
}

@media screen and (min-width: 750px) {
    .top_nav_links {
        flex-direction: row;
        align-items: flex-start;
        font-size: 1.5rem;
    }

    .top_nav_item {
        margin: 0 20px;
    }

    .top_nav_burger {
        display: none;
        transition: display .5s;
    }
}
