footer {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    background-color: #268CFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    padding: 2% 0 2% 0;
}

footer > p {
    display: inline;
    margin: 0 5px;
}

@media screen and (min-width: 400px) {
    footer p {
        font-size: 1rem;
    }
}
