footer {
    flex-shrink: 0;
    background-color: #268CFF;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2% 0 2% 0;
}

footer > p {
    display: inline;
    margin: 0 5px;
}

@media screen and (min-width: 400px) {
    footer p {
        font-size: 1rem;
    }
}
